.product2{
    margin-top: 20px;
    margin-bottom: 20px;
}

.product-context{
    margin-left: 500px;
    width: 600px;
    height: 600px;
}

.product-img{
    /* overflow: hidden; */
    width: 800px;
    height: 600px;
}

.product-img-item{
    float: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

h6{
    text-align: center;
    margin-top: 10px;
}

h5{
    font-size: 18px;
    margin: 15px;
}

a{
    color: black;
}

a:link{
    text-decoration-line: none;
}

p{
    margin-top: 6px;
    margin-bottom: 6px;
}

h4{
    margin-top: 25px;
    margin-bottom: 25px;
}